[project]
	description = Source code for shiftarray.com
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Logashov (logashoff)
[access "refs/for/refs/*"]
	read = group user/Alex Logashov (logashoff)
	push = group user/Alex Logashov (logashoff)
	label-Code-Review = -2..+2 group user/Alex Logashov (logashoff)
	label-Verified = -1..+1 group user/Alex Logashov (logashoff)
	rebase = group user/Alex Logashov (logashoff)
	removeReviewer = group user/Alex Logashov (logashoff)
	submit = group user/Alex Logashov (logashoff)
[access "refs/heads/*"]
	read = group user/Alex Logashov (logashoff)
	create = group user/Alex Logashov (logashoff)
	push = +force group user/Alex Logashov (logashoff)
	pushMerge = group user/Alex Logashov (logashoff)
[access "refs/tags/*"]
	push = group user/Alex Logashov (logashoff)
	push = +force group user/Alex Logashov (logashoff)
