body.busy {
  cursor: progress;
  .preloader {
    display: block;
  }
}

.entry.busy {
  display: none;
}

.preloader {
  z-index: 9999;
  display: none;
  position: relative;
  padding: 20px 0;
  overflow: hidden;
  text-align: center;

  & > * {
    vertical-align: middle;
  }

  .spinner {
    .originTransform(50%, 50%);
    .animation(~"spin .6s infinite linear");
    .transition(~"opacity .15s linear");
    .inline-block;
    .relative;

    height: 30px;
    width: 30px;

    pointer-events: none;

     &.visible {
        opacity: 1;
     }

     &:before {
      .border-box;
      .inline-block;

      content: "";
      width: 30px;
      height: 30px;

      border: 5px solid @font-color;
      border-right-color: transparent;
      border-left-color: transparent;
      border-radius: 100%;
    }
  }

  .label {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.preloader, .list {
  width: @column-width;
  margin: 20px auto;
}

.list {
  .block;
  .relative;
  .no-overflow;
  .border-box;

  background: #fafafa;
  color: #2b2d32;
  padding: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .25), -2px -2px 2px rgba(0, 0, 0, .15);
}

.entry {
  .no-overflow;
  .border-box;

  &:not(:last-child) {
    &:after {
      content: '';
      position: absolute;
      border-bottom: 1px solid;
      border-bottom: 1px solid #f1f1f1;
      left: 2px;
      right: 2px;
    }
  }

  .side {
    .relative;
    .block;

    padding-left: 75px;
    border-left: 2px solid;
    border-right: 2px solid;
    overflow: hidden;
  }
}

.tweet {
  .border-box;
  .clearfix;
  .block;
  .relative;

  margin: 20px 0;
  padding-right: 15px;

  .text {
    .relative;
    .block;

    max-width: 560px;
    font-size: 26px;
    line-height: 32px;
    font-style: normal;
    margin: 10px;
    word-wrap: break-word;
    visibility: hidden;

    &.rendered {
      visibility: visible;
    }

    .line {
      .block;
      .relative;

      white-space: nowrap;
      text-align: left;

      &.inline {
        .inline-block;
        .relative;
        clear: none;
      }
    }
  }

  .user-container {
    .clearfix;
    .relative;
    .block;

    font-size: 14px;
    color: inherit;
    margin-bottom: 10px;

    .user-avatar {
      .no-overflow;
      .absolute;

      margin-right: 15px;
      width: 48px;
      height: 48px;
      top: 0;
      left: -60px;
      border-radius: 3px;
      background: no-repeat center;
      background-size: cover;
    }

    .username, .screenname {
      text-overflow: ellipsis;
      margin-right: 10px;
    }

    .screenname {
      color: rgb(157, 174, 181);
    }

    .timestamp {
      flex: 1;
      text-align: right;
    }
  }
}
