// 480px 768px 992px 1200px

@media (max-width: 660px) {
  .hide-mobile {
    .hidden;
  }

  .list {
    width: auto
  }

  .entry {
    .side {
      padding: 0 20px;
    }
  }

  .tweet {
    padding: 0;
    .user-container {
      margin: 0 0 10px 0;
      .user-avatar,
      .username {
        .hidden;
      }
      .screenname {
        color: inherit;
        margin: 0;
      }
    }

  }
}
