doctype html
html(lang="en-US")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width', initial-scale='1.0', maximum-scale='1.0', user-scalable='no')
    meta(name='handheldfriendly', content='true')
    title= pageTitle
    link(rel="stylesheet", href="bin/all.css")
    link(rel='shortcut icon', href='favicon.ico')
    script(type="text/javascript",
           src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js")
    script(type='text/javascript').
        WebFont.load({
            google: {
                families: ['Roboto:400,700:latin']
            }
        });
    script(type='text/javascript' src='bin/p4.js' defer)
  body.busy
    #list.list
    .preloader
      span.spinner
    noscript
      h1 You need JavaScript enabled to view this website properly.
