doctype html
html(lang="en-US")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width', initial-scale='1.0', maximum-scale='1.0', user-scalable='no')
    meta(name='handheldfriendly', content='true')
    title= pageTitle
    link(rel="stylesheet", href="/bin/all.css")
    link(rel='shortcut icon', href='favicon.ico')
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js")
    script(type='text/javascript').
        WebFont.load({
            google: {
                families: ['Roboto:400,700:latin']
            }
        });
    script(type='text/javascript' src='/bin/p4.js' defer)
  body.busy
    #list.list
    .preloader
      span.spinner
    a.fork-me.hide-mobile(href="https://github.com/logashoff/shiftarray.com")
      img(src="/images/fork_me.png"
          alt="Fork me on GitHub"
          data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png")
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34200746-1']);
      _gaq.push(['_setDomainName', 'shiftarray.com']);
      _gaq.push(['_trackPageview']);
      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
    noscript
      h1 You need JavaScript enabled to view this website properly.
